body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background: linear-gradient(308.85deg, #4F84ED 0%, #2E38AF 100%);
}

.orangeButton {
  color:white !important;
  height: 2.5rem;
  width: 17rem;
  background-color: #F5A623;
  font-family: "objektiv-mk1";
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.33);
  display: inline-flex;
}

.orangeButton:active {
  color: #5e5e5e;
  background-color: #aa721b;
  text-decoration: none;
}
